.usersContainer {
    display: flex;
    justify-content: center;
}

.usersForm {
    display: flex;
    justify-content: center;
    width: 500px;   
    border-radius: 16px;
    background-color: lightgray;
    padding: 10px;
    margin: 20px;
}

.usersForm .formContainer {
    width: 100%;
}

.fieldHeader {
    margin: 10px 0px;
}

.userField {
    width: 100%;
    max-width: 490px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;   
    margin-right: 10px; 
    font-size: 14px;
}

.WinsHeader {
    display: inline-block;
    margin: 10px 10px 10px 0px;
}

.submitButton {
    font-size: 14px;
    margin: 10px 10px 10px 0px;
}
