.main-container {
    display: flex;
    justify-content: center;
}

.game-container {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
