.info-container {
    width: 60%;
    margin: 0px 10px;
}

.info-container h1 {
    font-size: 48px;
    margin: 0px 0px 5px;
}

.info-container h2 {
    margin: 0px;
    font-weight: 600;
}

.info-container h3 {
    margin: 5px 0px 0px;
    font-weight: 500;
}

.winners {
    display: flex;
    flex-wrap: wrap;
}

.winners .myButton {
    margin: 0px;
    margin-top: 5px;
}