.list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    max-width: 250px;
    max-height: 270px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 20px 20px;
    background-color: orange;
}

.list-title {
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}