.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  width: 52px;
  height: 52px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hb {
  background-image: url(../../../../img/iconmonstr-hexagon-1-240.png);
}

.ratingIcon {
  width: 16px;
  height: 16px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.sbactive {
  cursor: pointer;
  background-image: url(../../../../img/iconmonstr-star-3-240-yellow.png)
}

.sbnonactive {
  background-image: url(../../../../img/iconmonstr-star-3-240-void.png)
}