.showCaseContainer {
    display: flex;
    justify-content: center;
}

.WelcomePageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WelcomePageContainer h1 {
    margin : 20px;
    font-size: 48px;
}