.loader-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.loader {
    width: 150px;
    height: 150px;
}

.loader img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
